doctype html
html

  include layouts/head
  body

  .section
    .container
      .row
        .one-half.column(style="margin-top: 5%")

          img.value-img(src="img/logo.png", width="100%", text-align="center")
          hr
          h1.center Hey lil' lumber! It seems that Lumberpack is up and running!
          a.button.button-primary(href="https://github.com/mabrasil/lumberpack") Read the Docs
          .value-props.row
            .four.columns.value-prop
            p Lumberpack is a simple boilerplate to easily bootstrap projects with a bunch of cool technologies.
