// Based on John Gerome Baldonado's Skeleton's stylus approach.

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Stylus Version originally by John Gerome Baldonado https://github.com/johngerome
* Stylus Version adapted by Matheus Brasil https://github.com/mabrasil
*/

normalize()

@import "vendor/_variables"

@import "vendor/_base"
@import "vendor/_buttons"
@import "vendor/_clearing"
@import "vendor/_code"
@import "vendor/_forms"
@import "vendor/_grid"
@import "vendor/_links"
@import "vendor/_lists"
@import "vendor/_media-queries"
@import "vendor/_spacing"
@import "vendor/_tables"
@import "vendor/_typo"
@import "vendor/_utilities"

// Write your own syles here.
@import "custom"
