// Based on John Gerome Baldonado's Skeleton's stylus approach.

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Stylus Version by John Gerome Baldonado https://github.com/johngerome
*/

normalize()

@import "_variables"

@import "_base"
@import "_buttons"
@import "_clearing"
@import "_code"
@import "_forms"
@import "_grid"
@import "_links"
@import "_lists"
@import "_media-queries"
@import "_spacing"
@import "_tables"
@import "_typo"
@import "_utilities"

// Write your own syles here.
@import "custom"
